.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
__pycache__/
cmake-build-debug

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln


CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.vscode

RL2048/RL2048
RL2048/tuples/
*.csv
RL2048/cmake-build-release
RL2048/wykres.py
